@using DenemeShop_MVC.ViewComponents
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Http
@using System.Security.Cryptography.X509Certificates
@model List<DenemeShop_MVC.Models.ProductWithStore>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/web/js/jquery-1.11.1.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <style>
        button {
            background-color: #84C639;
            color: white;
            padding: 5px 10px;
            float: right;
            margin: 20px 0;
            border: none;
            cursor: pointer;
            /*width: 15%;*/
        }
    </style>
</head>
<body>
    <div id="mydiv"></div>
    <script>
        $(document).ready(function () {
            var navoffeset = $(".agileits_header").offset().top;
            $(window).scroll(function () {
                var scrollpos = $(window).scrollTop();
                if (scrollpos >= navoffeset) {
                    $(".agileits_header").addClass("fixed");
                } else {
                    $(".agileits_header").removeClass("fixed");
                }
            });

        });
    </script>
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left">
                <h1><a href="/Home/Index"><span>Ajans</span> Store</a></h1>
            </div>
            <div class="w3ls_logo_products_left1">
                <ul class="special_items">
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="banner">
        <div class="w3l_banner_nav_left">
            <nav class="navbar nav_bottom">
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                @await Component.InvokeAsync("ListKategori")
            </nav>
        </div>

        <div class="w3l_banner_nav_right">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="w3l_banner_nav_right_banner">
                                @*<h3>Kampanyalı <span>Ürün</span> </h3>*@
                                <div class="more">
                                    <!--<a href="/Product/ProductBuy" class="button--saqui button--round-l button--text-thick"--> @*data-text="Shop now"*@<!-->-->@*Sepete Ekle*@<!--</a>-->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="w3l_banner_nav_right_banner1">
                                @*<h3>Make your <span>food</span> with Spicy.</h3>*@
                                <div class="more">
                                    <!--<a href="products.html" class="button--saqui button--round-l button--text-thick"--> @*data-text="Shop now"*@<!-->-->@*Shop now*@<!--</a>-->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="w3l_banner_nav_right_banner2">
                                @*<h3>upto <i>50%</i> off.</h3>*@
                                <div class="more">
                                    <!--<a href="products.html" class="button--saqui button--round-l button--text-thick"--> @*data-text="Shop now"*@<!-->-->@*Shop now*@<!--</a>-->
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- flexSlider -->
            <link rel="stylesheet" href="/web/css/flexslider.css" type="text/css" media="screen" property="" />
            <script defer src="/web/js/jquery.flexslider.js"></script>
            <script type="text/javascript">
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        start: function (slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });
            </script>
            <!-- //flexSlider -->
        </div>
        <div class="clearfix"></div>
    </div>

@*<button class="button" id="araButtonnn">Ürün Ara</button>*@
@*<input type="text" id="ara" style="float: right; margin: 20px;padding: 5px 10px" />*@

<div class="row m-t-20" id="checkboxdiv">
    <div class="col-md-12">
        <button class="button" id="araButton" @*style="background-color: #84C639; float: right"*@><i class="fas fa-search"></i> Ürün Ara</button>
        <input type="text" id="searchbar" placeholder="Ara..." style="float: right; margin: 20px; padding: 5px 10px">
    </div>
</div>

    <p id="demo2"></p>
    <div>
        <div class="container searchResult" id="" style="display: none;"></div>
        <div class="top-brands" id="tumUrun">
            <div class="container">
                @*<button onclick="createItem()"></button>*@
                <p id="demo"></p>
                @if (User.Identity.IsAuthenticated)
                {
                    <h2>Hoşgeldiniz, @Context.Session.GetString("username")</h2>
                }
                <script>
                    function createItem() {
                        localStorage.setItem("keySession", Date.now());
                        sessionStorage.setItem("keySession", Date.now());

                        var x = localStorage.getItem("keySession");
                        document.getElementById("demo").InnerHTML = x;
                    }
                </script>

                @await Component.InvokeAsync("FoodGetList")
                @*@await Component.InvokeAsync("KategoriGetList")*@
            </div>
        </div>
    </div>
    <script>
    /* $(document).ready(function() {*/
    $("#araButton").click(function() {
        var ara = $('#searchbar').val();
        @*@item.SepetQuantity = @item.SepetQuantity + 1;*@
        $.ajax({
            type: 'POST',
            url: '/Home/ProductAra',
            data: { ara: ara },
            success: function(data) {
                var data = data.data;
                debugger
                var json = $.parseJSON(data);
                json.forEach(function(data2) {
                    console.log(data2.Name);
                });

                for (var i = 0; i < json.length; i++) {
                    var user = json[i];
                    console.log(user.Name);
                }
                var i = 0;
                var htmlTemplete = '';
                //for(i = 0;i <= 10;i++){
                json.forEach(function(data2) {
                htmlTemplete += '<div class="col-md-3 top_brand_left" style="margin-bottom:50px;">' +
                    '<div class="hover14 column">' +
                    '<div class="agile_top_brand_left_grid">' +
                    '<div class="agile_top_brand_left_grid_pos">' +
                    '<img src="/web/images/offer.png" alt=" " class="img-responsive">' +
                    '</div>' +
                    '<div class="agile_top_brand_left_grid1">' +
                    '<figure>' +
                    '<div class="snipcart-item block">' +
                    '<div class="snipcart-thumb">' +
                    '<a href="/Product/Detay?i=1"> <img id="img1" runat="server" src="'+data2.ImageUrl+'" alt="'+data2.ImageUrl+'" style="width: 150px; height: 100px;" /></a>' +
                    '<a href="/Product/Detay?i=1"> ' +
                    //_data.Name +
                    data2.Name +
                    '</a>' +
                    '<a href="/Product/Detay?i=1"> ' +
                    //_data.groupName +
                    data2.groupName +
                    '</a>' +
                    '<p></p>' +
                    '<h4>54 ₺ </h4> <h6>' +
                    //_data.Quantity +
                    data2.Quantity +
                    '</h6>' +
                    '</div>' +
                    '<div class="snipcart-details top_brand_home_details">' +
                    '<form action="DetaySepetBuy?i=1" method="post">' +
                    '<fieldset>' +
                    '<a class="button" type="submit" href="/Product/DetaySepetBuy?i='+data2.Id+'">  Sepete Ekle</a>' +
                    ' <input type="button" class="button" value="Sepete Ekle" onclick="location.href=@Url.Action("DetaySepetBuy", "Product",new{i= "data2.Id"   })" /> ' +
                    '</fieldset></form></div></div></figure></div></div></div></div>';
                });
                    $('.searchResult').html(htmlTemplete);
                    $('.searchResult').show();
                    $('#tumUrun').hide();
                var obj = JSON.parse(data);
            },
            error: function(data) {
            }
        });

    });
    /*  });*/
    </script>

    <script>
        function myFunction() {
            document.getElementById("kalemUrun").style.visibility = "visible";
            document.getElementById("tumUrun").style.visibility = "hidden";
        }
        $(document).ready(function () {
            $("#KalemHref").on("click",
                function () {
                    $('#kalemUrun').is(':visible');
                });
        });
    </script>
    <script src="/web/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <script src="/web/js/minicart.js"></script>
    <script>
        paypal.minicart.render();

        paypal.minicart.cart.on('checkout',
            function (evt) {
                var items = this.items(),
                    len = items.length,
                    total = 0,
                    i;
                for (i = 0; i < len; i++) {
                    total += items[i].get('quantity');
                }
                if (total < 3) {
                    alert('Ürün Sepete Eklendi');
                    evt.preventDefault();
                }
            });
    </script>
</body>
</html>