@using DenemeShop_MVC.Models
@model GelenDataAPI

<html>
<head>
    <link href="~/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <style>
        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #84C639;
            color: white;
            padding: 8px 18px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            /*width: 15%;*/
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 8px 18px;
            background-color: red;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 4px;
            width: auto
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
</head>
</html>
<h1>Şifre Güncelleme Sayfası</h1>
@*<form method="post" enctype="multipart/form-data" asp-action="ProductEkle" asp-controller="Product">*@
<form asp-controller="Account" asp-action="ChangePassword" method="post" enctype="multipart/form-data">
    <div>
        @*<label for="Id">Ürün ID:</label>
            <input type="text" id="Id" name="Id"><br><br>*@

        @*<label for="MevcutŞifre">Eski Şifre</label>
        <input type="text" id="MevcutŞifre" name="MevcutŞifre"><br><br>*@

        <label for="NewPassword">Yeni Şifre</label>
        <input type="password" id="password" name="password"><br><br>

      
        <!--<a--> @*href="/Product/AdminAnasayfa"*@ <!--class="btn btn-info" id="buttonn12" style="background-color: #84C639">Ürün Ekle</a>-->
        <button class="button" id="buttonn1" @*style="background-color: #84C639"*@>Şifreyi Güncelle</button>
        @*<a href="/Product/AdminAnasayfa" class="btn btn-danger">Geri</a>*@
        <button class="cancelbtn" id="buttonn12" @*style="background-color: #84C639"*@>Geri</button>
    </div>
</form>